@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.inicio {
  background-image: url(../img/image1-1536x1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5f004b50;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pp {
  background-color: rgb(27, 27, 27);
  background-image: url(../img/FOTOS/EYZ5A5HEBNF2VHJGAVTGWM4NSE.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0e0d0df5;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center center;
}

.stats {
  background-image: url(../img/Lionel-Messi-20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #8f004f75;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center center;
}

.palmares {
  background-image: url(../img/Messi-campeon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000b0;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center center;
}

.fotos {
  background-image: url(../img/argentina-campeon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000b0;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    font-weight: 700;
}

header a:hover{
    transition: .5s;
    transform: scale(1.1);
}

.logo {
    max-width: 5rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.nav-list a {
    transition: .5s;
    transform: scale(1.1);
}

.nav-list a:hover {
    color: rgb(245, 124, 219);
    transform: scale(1.1);
}

.abrir-menu, 
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 872px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.5rem;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }

    .menu {
        opacity: 0;
        visibility: hidden;
        z-index: 5;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        padding: 1rem;
        box-shadow: 0 0 0 100vmax #000000b0;
        background-image: linear-gradient(#000000, #444444);
    }

    .menu.visible { 
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
}

.logo-miami {
    display: flex;
    justify-content: flex-start;
}

.inter-miami {
    position: absolute;
    width: 13%;
    margin-top: rem;
    margin-left: 5rem;
    filter: brightness(60%);
}

@media screen and (max-width: 596px) {
    .inter-miami {
        display: none;
    }
}

.divlionelmessi {
  display: flex;
  flex-direction: column;
}

.lionel-inicio {
  display: flex;

}

.lionel-inicio img {
    position: absolute;
    width: 25%;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    filter: brightness(100%);
}



.messi-inicio {
  display: flex;
}

.messi-inicio img {
    position: absolute;
    width: 35%;
    top: 72%;
    left: 75%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    filter: brightness(100%);
}

@media screen and (max-width: 650px) {
    .lionel-inicio img {
        width: 50%;
        margin-left: 2rem;
        padding: 3rem;
        top: 55%;
        left: 15%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }

    .messi-inicio img {
        width: 100%;
        height: 20%;
        padding: 1rem;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
    
}

@media screen and (max-width: 308px) {
    .lionel-inicio img {
        width: 50%;
        margin-left: 2rem;
        padding: 1rem;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }

    .messi-inicio img {
        width: 100%;
        height: 20%;
        padding: 1rem;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }

    .logo-miami {
        justify-content: center;
        margin-left: 5rem;
    }

    .inter-miami {
        width: 50%;
    }
}

.main-inicio {
    flex: 1;
}


.pie-inicio {
 
  text-align: center;
  position: fixed;
  height: auto;
  background-color: #111111;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  width: 100%;
  padding: 10px;
  bottom: 0;
  left: 0;
}

.pieDePagina {
  color: #fd87d6;
}

.proximo-partido {
    margin-top: 1rem;
}

/*proximos partidos*/

.messi-perfil {
  position: absolute;
  z-index: 1;
  width: 40%;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  filter: brightness(20%);
}

.messi-silueta-psg {
  position: absolute;
  z-index: 1;
  width: 43%;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  filter: brightness(20%);
}

.fechas {
  position: absolute;
  text-align: center;
  width: 4rem;
  height: 10%;
  background-color: rgb(250, 97, 186);
  font-weight: 800;
  font-size: 24px;
  z-index: 3;
}

.funo {
  left: 42.5%;
  top: 20.5%;
}

.fechas span {
  color: rgb(255, 255, 255);
}

.fdos {
  top: 16%;
  left: 56.5%;
}

.ftres {
  top: 20.5%;
  left: 70%;
}

.divpp {
  display: flex;
  position: absolute;
  width: 15%;
  height: 66%;
  color: white;
  background-color: #303030cb;
  padding: 2rem;
  z-index: 2;
}

.uno {
  top: 28%;
  left: 37.1%;
}

.dos {
  top: 23%;
  left: 50.9%;
}

.tres {
  top: 28%;
  left: 64.7%;
}

@media screen and (max-width: 872px) {

  .messi-perfil {
    width: 50%;
    top: 40%;
    left: 50%;
  }

  .messi-silueta-psg {
    width: 53%;
    top: 170%;
    left: 57%;
  }

  .fechas {
    height: 15%;
  }

  .funo {
    left: 13.5%;
    top: 57.5%;
  }
   
  .fdos {
    top: 90%;
    left: 8%;
  }
  
  .ftres {
    top: 125%;
    left: 13.5%;
    margin-bottom: 3rem;
  }
  

  .divpp {
    width: 70%;
    height: 30%;
  }
  
  .uno {
    top: 50%;
    left: 18%;
  }
  
  .dos {
    width: 80%;
    top: 83%;
    left: 13%;

  }
  
  .tres {
    top: 116%;
    left: 18%;
  }
}

/*stats*/

.parrafo-stats {
    display: flex;
    position: absolute;
    margin-left: 15%;
    color: white;
    padding: 6px;
    font-weight: 700;
    font-size: 30px;
}

.mainstats {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 2rem;
    margin-top: 0;
}

.contenedor-circulo {
    display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
}

.circulo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffa7b600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 100%;
  margin-top: 39px;
  border: #ffa7b5 solid 2.5px;
}

.contenedor-stats {
    width: 85%;
}

.contenedor {
  display: flex;
  height: 35px;
  margin-top: 55px;
  background-color: #494949;
  border: #000000 solid 2.5px;
  border-radius: 10px;
  overflow: hidden;

}

.barra {
    width: 30rem;
  height: 100%;
  color: #ffffff;
  background-color: #ffa7b5;
  font-weight: 800;
  padding-top: 5px;
  padding-left: 1.25rem;
}

/*palmares*/

.messipalmares {
  width: 40%;
  margin-top: 20px;
  margin-left: 50px;
  padding-bottom: 2rem;
}

.barcelona {
    color: #ec0000;
    font-weight: 700;
    padding: 1rem;
    background-color: #007dd1b7;
    border-top: #db0000 solid 3px;
    border-bottom: #db0000 solid 3px;
}

.titulos-barcelona {
  display: flex;
  justify-content: stretch;
}

.titulos-barcelona img {
  padding: 1rem;
  width: 10%;
  margin-top: 10rem;
  margin-left: 7rem;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  filter: brightness(100%);
    
}

/* FOTOS */

/* Estilo para el carrusel */
#myCarousel {
    padding: 1rem;
    width: 50%;
    max-height: 100%; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    margin: 50px auto;
  }
  
  .carousel-item img {
    justify-content: center;
    max-width: 100%;
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    width: auto;
    height: auto;
    margin: auto; /* Para centrar la imagen horizontalmente */
  }
  
  /* Cambia los estilos para los controles previo y siguiente del carrusel si es necesario */
  .carousel-control-prev, .carousel-control-next {
    height: 30px;
    margin-top: 5%;
    font-size: 25px;
    /* Agrega aquí los estilos deseados para los controles */
  }

@media screen and (max-width: 872px) {
    #myCarousel {
        width: 70%;
    }
    
}

@media screen and (max-width: 590px) {
    .carousel-control-prev, 
    .carousel-control-next {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}
  